/*//*/
body {
  padding-top: 60px;
}
.sqlfiddle-icon {
  float: left;
  margin: 0 5px 0 0;
  padding: 3px 0;
}
.navbar .nav > li > a i {
  margin-right: 5px;
}
a label {
	color: #08C;
}

.navbar .brand {
  color: #000000;
}
.dropdown-menu a i {
  margin-right: 5px;
}
.dropdown-toggle b.caret {
  color: #999999;
  opacity: .5;
}
#sidebar .well {
  padding: 8px 0;
}
.navbar, #content {
  min-width: 920px !important;
}
#content {
  height: 100%;
}
#content .panel {
  margin: 0;
}
#content .panel {
  min-height: 125px;
  height: 100%;
  position: relative;
}
#content .panel form {
  height: 100%;
}
#content .panel form label {
  height: auto;
  margin: 0;
  padding: 8px;
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: .5;
}
#content .panel form textarea {
  display: block;
  /*	height: 97%;
	width: 98%;*/

  margin: 0;
  padding: 4px;
  resize: none;
}
#output .panel {
  margin: 0;
}
#content .panel.schema {
  margin: 0;
}
#output {
  margin: 0;
  height: 50%;
  padding-top: 5px;
}
#content #output form label {
  top: 10px;
}
#schema-output {
  margin: 0;
  height: 50%;
  padding-bottom: 5px;
  
}
#content form {
  margin: 0;
}
.tab-content .tab-pane {
  height: 100%;
}
#content .CodeMirror {
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.CodeMirror-scroll {
	height: 200px;
	
    overflow-y: scroll;
    overflow-x: auto;
}


#messages i {
  margin-right: 5px;
  opacity: .5;
}
#fiddleFormDDL {
  position: relative;
}
#content .panel form label {
  z-index: 250;
  /*	bottom: 5px;
	top: auto;*/

}
#fiddleFormDDL label a i {
  margin: 1px;
}


#hosting {
	display: block;
	margin: 20px auto;
	width: 800px;
}
#hosting h4 {
	text-align: center;
}
#hostingPartners {
	padding: 0px;
	list-style-type: none;
}

#hostingPartners li {
	margin: 20px 0;
	font-family: sans-serif;
	font-size: 8pt;
	height: 50px;
	display: inline;
}

#hostingPartners a {
	display: inline-block;
	width: 200px;
	float: left;
}
#hostingPartners img {
	height: 50px;
	margin: 0 auto;
	text-align: center;
	display: block;
	border: none;
}

#hostingPartners span {
	float: left;
	display: block;
	width: 150px;
}

.modal {
	display: none;
}
#raw, #parseResults { 
	width: 100%;
}

#parseResults {
	height: 60px;
	overflow: auto;	
}

.executionPlan {
	width: 90%;
	margin-left: 10%;	
	display: none;
}

.executionPlanLink {
	margin-left: 20px;	
}

.oracle_xplan {
	margin: 0px; 
	overflow:hidden;
	width: 800px;
	height: 600px;
	border: solid thin black;
	display: inline-block;
}	
