/*//*/
body {
  padding-top: 60px;
}
.sqlfiddle-icon {
  float: left;
  margin: 0 5px 0 0;
  padding: 3px 0;
}
.navbar .nav > li > a i {
  margin-right: 5px;
}
.navbar .brand {
  color: #000000;
}
.dropdown-menu a i {
  margin-right: 5px;
}
.dropdown-toggle b.caret {
  color: #999999;
  opacity: .5;
}
#sidebar .well {
  padding: 8px 0;
}
.navbar, #content {
  min-width: 550px !important;
}
#content {
  height: 100%;
}
#content .panel {
  margin: 0;
}
#content .panel {
  min-height: 125px;
  height: 100%;
  position: relative;
}
#content .panel form {
  height: 100%;
}
#content .panel form label {
  height: auto;
  margin: 0;
  padding: 8px;
  position: absolute;
  right: 5px;
  top: 5px;
  opacity: .5;
}
#content .panel form textarea {
  display: block;
  /*	height: 97%;
	width: 98%;*/

  margin: 0;
  padding: 4px;
  resize: none;
}
#output .panel {
  margin: 0;
}
#content .panel.schema {
  margin: 0;
}
#output {
  margin: 0;
  height: 50%;
  padding-top: 5px;
}
#content #output form label {
  top: 10px;
}
#schema-output {
  margin: 0;
  height: 50%;
  padding-bottom: 5px;
  
}
#content form {
  margin: 0;
}
.tab-content .tab-pane {
  height: 100%;
}
#content .CodeMirror {
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.CodeMirror-scroll {
	height: 200px;
	
    overflow-y: scroll;
    overflow-x: auto;
}


#messages i {
  margin-right: 5px;
  opacity: .5;
}
#fiddleFormDDL {
  position: relative;
}
#content .panel form label {
  z-index: 250;
  /*	bottom: 5px;
	top: auto;*/

}
#fiddleFormDDL label a i {
  margin: 1px;
}

.outOfSync {
	border: solid thin red;
}
