# this file can be deleted if you're not planning on using URL rewriting with Apache.

# you can add your own files and folders that should be excluded from URL rewriting by adding them to the "RewriteCond" line below.
# please read the online documentation on http://cfwheels.org for more information about URL rewriting.

# UNCOMMENT ALL LINES BELOW THIS ONE TO TURN ON THE URL REWRITING RULES

Options +FollowSymLinks
RewriteEngine On
RewriteCond %{REQUEST_URI} !^.*/(flex2gateway|jrunscripts|cfide|cfformgateway|cffileservlet|railo-context|files|images|javascripts_min|javascripts|miscellaneous|stylesheets|resume|robots.txt|sitemap.xml|rewrite.cfm|favicon.ico|index.html)?($|/.*$) [NC]
RewriteRule ^(.*)$ ./rewrite.cfm/$1 [NS,L]
